<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>


</head>

<body>
    <div id="application">
        <application-component></application-component>
    </div>


    <script src="components/header.js"></script>
    <script src="components/main.js"></script>
    <script src="application.js"></script>
</body>

</html>

<!-- {{message}}
<ul>
    <li v-for="person in people">
        <h1>{{person.name}}<span v-if="person.isAdmin">💂‍♀️</span></h1>
        <h2>{{person.age}}</h2>
    </li>
</ul> -->